body{
background:#081b2e;
font-family:Segoe UI;
color:white;
}

/* TABLE */
table{
width:100%;
border-collapse:collapse;
background:#f1f1f1;
color:black;
font-weight:600;
}

th{
background:#1f4a8a;
color:white;
padding:12px;
font-size:15px;
border:2px solid #0a1f3d;
}

td{
padding:10px;
border:2px solid #444;
text-align:center;
}

/* 3D GREEN */
.green{
background:linear-gradient(145deg,#00d26a,#00a851);
color:white;
font-weight:bold;
box-shadow:0 4px 10px rgba(0,0,0,0.5);
}

/* 3D RED */
.late{
background:linear-gradient(145deg,#ff4d4d,#c40000);
color:white;
font-weight:bold;
box-shadow:0 4px 10px rgba(0,0,0,0.5);
}

/* WEEK OFF */
.wo{
background:#008000;
color:white;
font-weight:bold;
}

/* BUTTON */
button{
background:#ffd700;
border:none;
padding:10px 18px;
border-radius:10px;
font-weight:bold;
cursor:pointer;
box-shadow:0 4px 8px rgba(0,0,0,0.5);
}

button:hover{
transform:scale(1.05);
}

/* SEARCH */
#search{
padding:10px;
width:250px;
border-radius:10px;
border:none;
margin-right:10px;
}
