body{
background:#081b2e;
color:white;
text-align:center;
font-family:Segoe UI;
}

h1{
color:#ffd700;
margin:20px;
}

button{
background:#ffd700;
padding:10px 15px;
margin:5px;
border:none;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.6);
cursor:pointer;
}

button:hover{
transform:scale(1.05);
}

.roster-btn{
position:absolute;
top:20px;
right:20px;
}

.upload-box{
margin-top:50px;
}

.roster-top{
display:flex;
flex-wrap:wrap;
gap:10px;
justify-content:center;
margin:20px;
}

input{
padding:8px;
border-radius:8px;
}

table{
width:95%;
margin:auto;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#123c7a;
color:white;
padding:10px;
line-height:1.4;
}

td{
background:#eaeaea;
color:black;
padding:8px;
border:1px solid #ccc;
}

.late{
background:red;
color:white;
font-weight:bold;
}

.wo{
background:green;
color:white;
font-weight:bold;
}
